/* general inputs */
.form-input > input[type=text],
.form-input > textarea {
    width: 100%;
    border: none;
    background-color: var(--dark-cyan);
}

/* text inputs */

.form-input > input:focus-visible,
.form-input > textarea:focus-visible {
    /* drop some of the default interaction */
    outline: none;
    border: none;
}

/* text inputs */
.form-input > input[type=text].text-input,
.form-input > textarea.long-text-input {
    color: var(--dove-grey);
}

.form-input > input[type=text].text-input:focus-visible,
.form-input > textarea.long-text-input:focus-visible {
    color: var(--lynx-white);
}

.form-input > textarea {
    resize: none;
    /* this works for somereason (enables full widths) */
    box-sizing: border-box;
}

/* checkboxes */

.form-input > input[type=checkbox] {
    margin: var(--ns-quat);
}