/* visibility styling and general inputs */
.form-input > input[type=text],
.form-input > textarea {
    width: 100%;
    
    background-color: var(--dark-cyan);
    border-radius: 8px;
    
    padding: var(--ns-quat);
    border: none;
}

/* text inputs */

.form-input > input:focus-visible,
.form-input > textarea:focus-visible {
    /* drop some of the default interaction */
    outline: none;
    border: 1px solid var(--lindworm-green);
    border-radius: 8px;

    box-shadow: 
              0 1px 1px rgba(0, 0, 0, .05),
              0 2px 2px rgba(0, 0, 0, .10),
              0 4px 4px rgba(0, 0, 0, .15),
              0 8px 8px rgba(0, 0, 0, .20);
}

/* text inputs */
.form-input > input[type=text].text-input,
.form-input > textarea.long-text-input {
    color: var(--dove-grey);
}

.form-input > input[type=text].text-input:focus-visible,
.form-input > textarea.long-text-input:focus-visible {
    color: var(--lynx-white);
}

.form-input > textarea {
    resize: none;
    /* this works for somereason (enables full widths) */
    box-sizing: border-box;
}

/* checkboxes */

.form-input > input[type=checkbox] {
    margin: var(--ns-quat);
}