# ignore the build artifacts

obj/
bin/

# ignore the .idea (Rider) local editor configs

.idea/
*.DotSettings.user

# secrets and local env files

.env
*.env
*.secret

# nx

.nx/installation
.nx/cache

# node

/node_modules/
