# local editor configs
*.DotSettings.user
dataSources.xml

# secrets and local env files
.env
*.env
*.secret

# nx
.nx/installation
.nx/cache

# builds and external dependencies
/node_modules/
obj/
bin/
dist/