# local editor settings
.idea/
*.DotSettings.user
dataSources.xml

# secrets and local env files
.env
*.env
*.secret

# nx
.nx/installation
.nx/cache

# artifacts and dependencies
/node_modules/
obj/
bin/
dist/
.nuget-packages/
packages/