@use '@carbon/react/scss/spacing' as *;
@use './overrides';
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/card-shadow' as *;

.card {
	/* any derived cards should override this value to update the height and any dependent calc's */
	--card-height: calc($spacing-08 * 10) + $spacing-06;
	height: var(--card-height);
	min-width: 700px;
	max-width: 1110px;
	display: flex;
	flex-direction: column;
	background-color: var(--background-neutral);
	border: 1.25px solid var(--background-neutral);
	border-radius: 0 0 12px 12px;
	@include card-shadow();
}

.card > .title-bar {
	background-color: var(--background);
	@include card-shadow-3();
}

.card .title-bar > h2.title {
	@include text-header();
}

.card > div.content-slot > div {
	display: flex;
	justify-content: center;
}
