// .layout__content {

// }

.layout__footer.cds--css-grid-column {
	margin-left: 0;
	margin-right: 0;
}

.layout.cds--css-grid {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
