@use '@carbon/react/scss/spacing' as *;

// .p-manage-recipes {
// }

.p-manage-recipes__r1,
.p-manage-recipes__r2 {
	margin-top: $spacing-06;
}

.recipes-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: $spacing-08;
}

.grid-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: $spacing-04;
	padding-bottom: $spacing-05;
	padding-right: $spacing-08;
	padding-left: $spacing-08;
	height: 6rem;
	background-color: var(--nero-black);
	border-radius: 4px 4px 0 0;
}

.grid-actions {
	display: flex;
	justify-content: flex-end;
	align-items: self-end;
	column-gap: $spacing-04;
	margin-top: auto;
	margin-bottom: auto;
}
