.recipes-grid {
	--n-columns: 5;

	display: grid;
	grid-template-columns: repeat(var(--n-columns), 1fr);
	justify-items: center;
	gap: 24px;

	border-radius: var(--grid-border-radius);

	height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;

	margin-bottom: var(--ns-quat);
}

/* ensure that the box shadow doesn't clip */
/* turns out this a really annoying problem to apply overflow-y: scroll 
   and still keep the content visible without a JS + CSS 'hack' - 
   especially on the bottom of the scrollable content 
*/
.grid-tile:nth-last-child(-n + 3) {
	padding-bottom: 28px;
}

.grid-header {
	display: flex;
	justify-content: space-between;
	height: 60px;

	background-color: var(--nero-black);
	border-radius: 12px 12px 0 0;

	padding-top: var(--ns-quat);
}

.grid-actions {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	column-gap: 12px;
}

.grid-header,
.recipes-grid {
	padding-right: var(--ns-full);
	padding-left: var(--ns-full);
}
