@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/glass-background' as *;

.p-manage-recipes {
	// freeze scrolling
	position: fixed;

	.recipes-grid-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: $spacing-04;
		padding-bottom: $spacing-05;
		padding-right: $spacing-08;
		padding-left: $spacing-08;
		margin-top: $spacing-08;
		height: 6rem;
		background-color: var(--background);

		h2 {
			@include text-header();
		}

		.recipes-grid-header--actions {
			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			column-gap: $spacing-04;
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	.recipes-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		row-gap: $spacing-08;
		padding: $spacing-06;
		background-color: var(--background-neutral);
		@include card-shadow;

		.recipe-grid--tile {
			flex: 1;
		}
	}

	.action-container {
		border-radius: 0 0 12px 12px;
		@include glass-background();
	}
}
