.cancel-btn {
    border: 1px solid var(--warning);
}

.cancel-btn:hover,
.cancel-btn:active {
    background-color: var(--warning);
}

.save-btn {
    border: 1px solid var(--success);
}

.save-btn:hover,
.save-btn:active {
    background-color: var(--success);
}
