@use './overrides';
@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/card-shadow' as *;

.image-card {
    // support glass background
    position: relative;
    // card basics
    display: flex;
    flex-direction: column;
    border: 1.25px solid var(--background-neutral);
    border-radius: 0 0 12px 12px;
    @include card-shadow();

    .image-slot img {
        height: 100%;
        width: 100%;
    }
}

.action,
.action > * {
    cursor: pointer;
}

.action {
    display: flex;
    flex-direction: column;
    padding: $spacing-05 $spacing-04;
    padding-bottom: 0;
    color: white;
    border-radius: 0 0 12px 12px;
    height: 100%;

    // support glass texture
    position: relative;

    h4 {
        @include item-header();
        padding-left: $spacing-04;
        padding-right: $spacing-04;
        overflow: hidden;
        white-space: nowrap;
    }

    &:hover {
        background-color: var(--primary);
    }
}

.e-image-status-badge {
    margin-top: $spacing-04;
    margin-bottom: $spacing-04;
    width: fit-content;
}
