@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/glass-background' as *;

@import 'nav-links.scss';

@mixin sidebar-element-alignments {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.minimalist-sidebar {
	// defined in layouts to ensure smoother animations
	width: var(--sidebar-width);
	display: flex;
	@include sidebar-element-alignments();
	@include text();
	background-color: var(--background);

	.page-links {
		height: 50%;
	}

	.top-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: $spacing-06;
	}
}

// header moves to top of page - change flex direction and simplify layout
@media (max-width: 1056px) {
	.minimalist-sidebar {
		flex-direction: row;
		justify-content: flex-end;
		padding: $spacing-04 $spacing-06;
		width: 100%;

		.nav-links {
			opacity: 0;
			height: 0;
		}
	}

	.minimalist-sidebar-active {
		// TODO: this
		z-index: 9999;

		position: fixed;
		width: 100%;
		height: 100%;

		// revert menu to use the column layout as used on the full-screen design
		@include sidebar-element-alignments();
		@include glass-background();
		transition: var(--sequence-fast) backdrop-filter ease-in-out;

		.top-section {
			width: 30%;
		}

		.nav-links {
			opacity: 1;
			transition: var(--sequence-slow) opacity ease-in-out;
		}

		.page-links {
			height: 50%;
		}
	}
}

/* toggling the sidebar-heading shifts the layout around - but only for larger screens */
@media (min-width: 1056px) {
	.minimalist-sidebar-active {
		animation: minimalist-sidebar-fade-in var(--sequence-fast) ease-out forwards;

		// move from a center to left alignment to take advantage of all the space
		align-items: flex-start;
		padding: 0 $spacing-08;

		.top-section {
			// full width top section keeps the logo left and button right (aligned)
			// the +2% makes this section stand out with different negative spacing
			width: 102%;
		}

		.labelled-icon-btn,
		.labelled-icon-btn > span {
			animation: fade-in var(--sequence-slow);
		}
	}

	.minimalist-sidebar-inactive {
		animation: minimalist-sidebar-fade-out var(--sequence-fast) ease-out forwards;

		.icon-btn {
			animation: fade-in var(--sequence-slow);
		}
	}
}
