@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;

.nav-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: $spacing-06;
	min-height: 20%;
	min-width: 40%;

	& > * {
		width: 100%;
	}

	.nav-label {
		@include label();
	}
}
