@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/page-title-block' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/glass-background' as *;
@use '../../../mixins/alignment' as *;

.p-edit-ingredient {
	@include page-title-block();
	margin: $spacing-06;

	.edit-ingredient-card {
		@include align-center();
		@include glass-background();
		@include text();
		display: flex;
		flex-direction: column;
		row-gap: $spacing-05;
		padding: $spacing-08;

		.edit-ingredient-card__remove {
			display: flex;
			flex-direction: column;
		}

		.edit-ingredient-card__actions {
			display: flex;
			justify-content: flex-end;
			padding: $spacing-05;
			gap: $spacing-04;
			align-items: center;
		}
	}
}
