@use '../../config/breakpoints' as breakpoints;
@use '../../local/mixins/glass-background' as *;

/* ensure a consistent base layout exists for the entire app */

:root {
    // full height pages
    height: 100%;
    min-height: 100%;
    // margin and padding reset
    margin: 0;
    padding: 0;
    // ensure touch screens can't scroll horizontally
    // this must exist on both the document root as well as the body element
    overflow-x: hidden;

    ::-webkit-scrollbar {
        display: none;
    }
}

/* all pages follow this layout */

body {
    --sidebar-width: 100px;
    background-color: var(--background--neutral, black);
    color: var(--text, white);

    // ensure touch screens can't scroll horizontally
    // this must exist on both the document root as well as the body element
    overflow-x: hidden;

    // the react-app root
    #root {
        // main instead of body, as main is where our content lives
        main {
            padding-left: var(--sidebar-width);
        }

        header {
            // header as sidebar
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
        }

        .theming-gradient-1 {
            z-index: var(--layers-background);
            position: absolute;
            height: 100vh;
            top: -10%;
        }

        .theming-gradient-2 {
            z-index: var(--layers-background);
            position: absolute;
            height: 100vh;
            top: 10%;
            left: 60%;
        }

        // TODO: fix
        .theming-gradient-1,
        .theming-gradient-2 {
            display: none;
        }

        // ensure this is globally used - a little hacky but it's neat and quick
        .background-effect {
            border-radius: 12px;
            @include glass-background();
        }
    }
}

// header moves to top of page
@media (min-width: breakpoints.$portrait-min) and (max-width: breakpoints.$portrait-max) {
    body {
        #root {
            header {
                position: absolute;
                top: 0;
                width: 100%;
                bottom: auto;
                left: auto;
            }

            main {
                padding-top: 100px;
                padding-left: 0;
            }
        }
    }
}
