.hero-grid {
    width: 100%;
    display: grid;
    align-items: center;
    
    padding-bottom: var(--ns-full);
    margin-top: var(--ns-half);
    grid-row-gap: var(--ns-half);
    grid-template-rows: [plan-row] 1fr [explore-row] 1fr [end];
    grid-template-columns: [margin-start] 10% [content-start] 80% [content-end] 10% [margin-end];
}

.planning-quick-view {
    grid-row: plan-row / plan-row;
    grid-column: content-start / content-end;
}

.explore-quick-view {
    grid-row: explore-row / explore-row;
    grid-column: content-start / content-end;
}
