.navigation-grid {
    width: 100%;
    display: grid;

    grid-template-rows: [content-start] 94% [content-end] 6% [footer];
    grid-template-columns: [sidebar] 10% [content-start] 90% [content-end];
}

.content-grid {
    grid-row: content-start / content-end;
    grid-column: content-start / content-end;
}

.sidebar-grid {
    grid-row: content-start / content-end;
    grid-column: sidebar / sidebar;
}

.footer-grid {
    grid-row: content-end / footer;
    grid-column: sidebar / content-end;
}