.delete-recipes-btn {
	border: 1px solid var(--warning);
}

.delete-recipes-btn:hover {
	background-color: var(--warning);
}

.add-recipes-btn {
	border: 1px solid var(--success);
}

.add-recipes-btn:hover {
	background-color: var(--success);
}
