.manage-recipes,
.recipes-grid {
	border-radius: 12px;
}

.grid-header,
.recipes-grid {
	padding-right: var(--ns-full);
    padding-left: var(--ns-full);
}

.manage-recipes {
	display: flex;
	flex-direction: column;
	border: 1.25px solid var(--nero-black);
	margin: var(--ns-full);

	box-shadow: 
        inset 0 -1px 1px rgba(0, 0, 0, 0.05),
		inset 0 -2px 2px rgba(0, 0, 0, 0.1),
		inset 0 -4px 4px rgba(0, 0, 0, 0.15),
		inset 0 -8px 8px rgba(0, 0, 0, 0.2);
}

.grid-header {
	display: flex;
	justify-content: space-between;
	height: 60px;

	background-color: var(--nero-black);
	border-radius: 12px 12px 0 0;

	box-shadow: 
        0 1px 1px rgba(0, 0, 0, 0.05),
        0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.15),
        0 8px 8px rgba(0, 0, 0, 0.2),
		0 16px 16px rgba(0, 0, 0, 0.25);

	padding-top: var(--ns-quat);
	
}

.grid-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 12px;
}

.recipes-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	gap: 24px;

	height: 80vh;
	overflow-y: scroll;

	margin-top: var(--ns-quat);
	margin-bottom: var(--ns-quat);
}
