.p-recipe-view {
    padding: var(--ns-full);
    overflow-y: scroll !important;
}

.recipe-grid {
    display: grid;
    margin-left: var(--ns-full);
    margin-right: var(--ns-full);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
