@use '@carbon/react/scss/spacing' as *;
@import './action-buttons.scss';

.p-recipe {
	display: flex;
	width: 100%;
	justify-content: center;
	// freeze scrolling
	position: fixed;

	.left-panel {
		display: flex;
		align-items: flex-start;
		margin: $spacing-08;
	}
}
