.p-home-view {
	position: relative;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	row-gap: var(--ns-full);

	margin-top: var(--ns-full);
	padding-left: var(--ns-full);
	padding-right: var(--ns-full);

	overflow-y: scroll;
}

.quick-recipes-view > div:last-child {
	margin-top: var(--ns-full);
}

.simple-card {
	width: 30%;
}

.carousel-item {
	margin: var(--ns-half);
}
