@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.p-home__r1,
.p-home__r2 {
	margin-top: $spacing-08;
	margin-right: auto;
	margin-left: auto;
}

.p-home__r1 > .quick-recipes-view > .common-card {
	margin-top: $spacing-06;
}

.simple-card {
	max-width: 30%;
}
