@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.p-home__r1,
.p-home__r2 {
	margin-top: $spacing-08;
}

.p-home__r1 > .quick-recipes-view > :last-child {
	margin-top: $spacing-06;
}

.simple-card {
	max-width: 30%;
}

.theming-gradient-1,
.theming-gradient-2 {
	z-index: -1;
	position: absolute;
}

.theming-gradient-1 {
	top: -10%;
}

.theming-gradient-2 {
	top: 10%;
	left: 60%;
}
