@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/glass-background' as *;
@use '../../../mixins/image-cover' as *;
@use '../../../mixins/alignment' as *;

.horiz-card {
	display: flex;
	--horiz-card-height: 200px;
	height: var(--horiz-card-height);
	border-radius: 12px;
	border: 1.25px solid var(--background-neutral);
	@include glass-background();
	@include card-shadow();

	// not needed? Idk why some are being inconsistent
	width: 100%;

	.horiz-card__image-slot {
		width: 30%;
		border-right: 1.25px solid var(--border);
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 12px 0 0 12px;
		@include image-cover();

		img {
			border-radius: 12px 0 0 12px;
		}

		.add,
		.remove {
			@include align-center();
			// icons are 32px in this usage
			width: 32px;
			position: relative;
			top: -55%;
			opacity: 0;
		}

		&:hover {
			background-color: var(--background-details);
			transition: background-color (--sequence-clicky) ease-out;

			img {
				transition: opacity var(--sequence-clicky) ease-out;
				opacity: 0.05;
			}

			.add {
				opacity: 1;
			}
		}
	}

	.horiz-card__content-slot {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		margin-left: $spacing-06;
		padding-bottom: $spacing-06;

		h4 {
			@include text-header();
		}

		&[disabled] {
			h4,
			* {
				color: var(--text-disabled);
			}
		}
	}

	.horiz-card__actions {
		position: absolute;
		top: calc(var(--horiz-card-height) - 60px);
		left: 66%;
	}
}

.horiz-card-selected {
	border: 1.25px solid var(--primary);

	.horiz-card__image-slot {
		background-color: var(--background-details);
		transition: background-color (--sequence-clicky) ease-out;

		img {
			transition: opacity var(--sequence-clicky) ease-out;
			opacity: 0.05;
		}

		.remove {
			opacity: 1;
		}
	}
}
