@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/glass-background' as *;
@use '../../../mixins/image-cover' as *;

.horiz-card {
	display: flex;
	height: 350px;
	border-radius: 12px;
	border: 1.25px solid var(--background-neutral);
	@include glass-background();
	@include card-shadow();

	.horiz-card__image-slot {
		width: 40%;
		border-right: 1.25px solid var(--border);
		@include image-cover();

		img {
			border-radius: 12px 0 0 12px;
		}
	}

	.horiz-card__content-slot {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: $spacing-06;

		h4 {
			@include text-header();
		}

		.content-slot__badges {
			display: flex;
			gap: 8px;
		}
	}
}
