@use '@carbon/react/scss/spacing' as *;

.e-multi-select-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    border-radius: 12px;

    .badge,
    .badge:hover,
    .badge:hover > * {
        background-color: var(--background);
        transition: unset;
        cursor: unset;
        flex: 0 1 75%;
    }

    .badge--remove {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: var(--background-details);
        width: 30px;
        height: 30px;
        flex: 0 1 30px;

        &:hover,
        &:hover > * {
            cursor: pointer;
        }

        &:hover {
            background-color: var(--primary-action);
            transition: 0.2s ease-in background-color;
        }
    }
}
