@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;

.p-ingredients {
	margin-top: $spacing-08;
	margin-left: $spacing-08;

	& > h2 {
		@include page-heading();
		display: flex;
		flex-direction: column;

		label {
			@include label();
		}
	}

	.edit-ingredient-form {
		display: flex;
		flex-direction: column;
		row-gap: $spacing-04;

		.edit-ingredient-form--remove {
			display: flex;
			flex-direction: column;
		}
	}
}
