.recipe-card {
	--card-height: 1000px;

	width: 900px;
	margin: var(--ns-half);
	background-color: var(--dark-cyan);

	color: white;
}

.image-slot > img {
	height: 100%;
	width: 100%;
}

.recipe-card > .title-bar,
.recipe-card > .recipe-data-slot {
	padding: var(--ns-half) var(--ns-full) var(--ns-half) var(--ns-full);
}

.recipe-card > .recipe-data-slot {
	overflow-y: scroll;
	overflow-x: hidden;

	box-shadow: 
		inset 0 2px 2px rgba(0, 0, 0, 0.05),
		0 4px 4px rgba(0, 0, 0, 0.1),
		0 8px 8px rgba(0, 0, 0, 0.15);
}

.recipe-card > .recipe-data-slot p {
	margin: var(--ns-quat);
	overflow-wrap: anywhere;
}

.recipe-card > .action-container {
	padding: var(--ns-half);
	margin-bottom: var(--ns-half);
}
