/* design borrowed from the original image-card */

.recipe-card {
	--image-card-height: 1000px;

	height: var(--image-card-height);
	min-width: 800px;
	max-width: 800px;
	background-color: var(--dark-cyan);
	color: white;
}

.recipe-card > .image-slot {
	position: relative;
}

.recipe-card > .image-slot > img {
	height: calc(3 / 7 * var(--image-card-height));
	width: 100%;
}

.recipe-card > .title-bar,
.recipe-data-slot {
	padding: var(--ns-half) var(--ns-full) var(--ns-half) var(--ns-full);
}

.recipe-data-slot {
	align-content: flex-start; /* keep text and button relatively aligned */
	overflow-y: scroll;
	overflow-x: hidden;

	box-shadow: inset 0 
		2px 2px rgba(0, 0, 0, 0.05),
		0 4px 4px rgba(0, 0, 0, 0.1),
		0 8px 8px rgba(0, 0, 0, 0.15);
}

.recipe-data-slot p {
	margin: var(--ns-quat);
	overflow-wrap: anywhere;
}

.action-container {
	padding: var(--ns-half);
	margin-bottom: var(--ns-half);
}
