@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/glass-background' as *;

.recipe-card {
	--card-height: 950px;
	width: 750px;
	@include glass-background();
	@include text();

	.image-slot {
		height: calc(var(--card-height) / 1.5);
	}

	.recipe-card__data {
		display: flex;
		flex-direction: column;
		gap: $spacing-06;
		padding: $spacing-06 $spacing-08;
		height: 100%;

		p {
			@include wrappable-text();
		}

		.recipe-data__blurb,
		.recipe-data__ingredients {
			flex-basis: 100%;
		}

		.recipe-data__meta {
			display: flex;
			justify-content: space-between;
		}
	}

	.recipe-card__actions {
		display: flex;
		justify-content: flex-end;
		padding: $spacing-05;
		gap: $spacing-04;
		align-items: center;
	}
}
