@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../../config/breakpoints' as breakpoints;

.card {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    border: 1.25px solid var(--background-neutral);
    border-radius: 0 0 12px 12px;
    @include card-shadow();

    .title-bar {
        @include card-shadow-3();

        h2.title {
            @include text-header();
        }
    }

    div.content-slot > div {
        display: flex;
        justify-content: center;
    }
}
