@use '@carbon/react/scss/spacing' as *;

.selectable-section {
    position: relative;
    cursor: pointer;
}

.selectable-section > .selectable-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: $spacing-04;
}
