/* the base colour kit, minimalist and simple */
.meal-ui-basekit-theme {
	--white: #ffffff;
	--black-russian: #20232a;
	--lynx-white: #f7f7f7;
	-dove-grey: #6b6b6b;
	-nero-black: #1a1a1a;
	--dark-cyan: #282c34;
}