@use '@carbon/react/scss/spacing' as *;

footer.hero-footer {
	margin-top: auto;
	display: flex;
	flex-direction: row-reverse;
	color: var(--lynx-white);
	background-color: var(--nero-black);
	padding: $spacing-04;
	padding-right: $spacing-06;
}

footer.hero-footer .footer-content {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}
