.image-card {
	--image-card-height: 300px;

	display: flex;
	flex-direction: column;
	margin: var(--ns-half);

	height: var(--image-card-height);
	width: calc(1.1 * var(--image-card-height));

	border: 1.25px solid var(--nero-black);
	background-color: var(--dark-cyan);
	border-radius: 0 0 12px 12px;

	/* to get a clean box shadow edge, layer box shadows and decrease the alpha sharply */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2),
		0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.05);
}

.image-card > .image-slot {
	position: relative;
}

.image-card > .image-slot > img {
	/* 2/3 of the card is allocated for the image */
	height: calc(2 / 3 * var(--image-card-height));
	width: 100%;
}

.e-image-status-badge {
	position: absolute;
	top: var(--ns-half);
	right: var(--ns-half);
}

.image-card > .action-slot {
	display: flex;
	justify-content: space-between;
	align-items: baseline; /* keep text and button relatively aligned */
	padding: var(--ns-half);
	color: white;
}

.image-card > .action-slot > label.action-label {
	font-size: 1.4em;
	letter-spacing: 4px;
}
