@use '@carbon/react/scss/spacing' as *;
@use '../../mixins/text-mixins' as *;

.index-row {
    display: flex;
    margin-top: $spacing-08;
    margin-bottom: $spacing-08;

    & > label {
        @include text-header();
    }
}

.index-row--items {
    display: flex;
    flex: 1;
    gap: $spacing-06;
}

.index-row--items,
.index-row--items > * {
    margin-right: $spacing-03;
    margin-left: $spacing-03;
}