@use '@carbon/react/scss/spacing' as *;

.ingredient-form-row {
	display: flex;
	align-items: center;
	column-gap: $spacing-02;
	width: 100%;
	background-color: var(--background);
	border-radius: 12px;
	padding: $spacing-04;

	.ingredient-form-row__quantity {
		flex-grow: 1;
		max-width: 10%;
	}

	.ingredient-form-row__detail {
		flex-grow: 3;
		max-width: 90%;
	}
}
