.loading-spinner-overlay {
	z-index: 3;
	position: absolute !important;
	top: 50%;
	// center over the main content
	// the main content is offset by the sidebar width, to center we need to space this width "either side"
	// of the alignment (ie. take half the width)
	left: calc(50% + 0.5 * var(--sidebar-width));
}

.background-cover {
	z-index: 2;
	position: fixed;
	background-color: var(--foreground-overlay);
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.background-cover--active {
	opacity: 1;
	transition: 0.2s ease-in;
}

.background-cover--inactive {
	opacity: 0;
	transition: 0.2s ease-in;
}
