@use '@carbon/react/scss/spacing' as *;

.minimalist-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: var(--lynx-white);
	background-color: var(--nero-black);
}

.minimalist-sidebar h1 {
	font-size: 0.9em;
}

.nav-links {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 50%;
}

.nav-links-active > button,
.setting-links-active > button {
	width: 100%;
}

.nav-links-active {
	align-items: center;
	width: 30%;
}

.nav-label {
	font-size: 0.8em;
}

.setting-links {
	display: flex;
	height: 10%;
	align-items: center;
	justify-content: center;
}

// header moves to top of page - change to row direction
@media (max-width: 1056px) {
	.minimalist-sidebar {
		flex-direction: row;
	}

	.minimalist-sidebar-active {
		transition: 0.6s ease-in;

		.labelled-icon-btn,
		.labelled-icon-btn > span {
			transition: width 0.2s ease-in;
			animation: fadeIn 1.2s;
		}
	}

	.minimalist-sidebar-inactive {
		transition: 0.6s ease-out;

		.labelled-icon-btn,
		.labelled-icon-btn > span {
			transition: width 0.2s ease-out;
			animation: fadeOut 1.2s;
		}
	}

	.nav-links,
	.setting-links {
		display: none;
	}
}

/* toggling the sidebar-heading shifts the layout around - but only for larger screens */
@media (min-width: 1056px) {
	.minimalist-sidebar-active {
		animation: minimalist-sidebar-fade-in 0.8s ease-out forwards;

		.labelled-icon-btn,
		.labelled-icon-btn > span {
			transition: width 0.2s ease-in;
			animation: fadeIn 1.2s;
		}
	}

	.minimalist-sidebar-inactive {
		animation: minimalist-sidebar-fade-out 0.4s ease-out forwards;

		.labelled-icon-btn,
		.labelled-icon-btn > span {
			transition: width 0.4s ease-in;
			animation: fadeOut 0.4s;
		}
	}

	@keyframes minimalist-sidebar-fade-in {
		from {
			width: var(--sidebar-width);
		}
		to {
			width: 30%;
		}
	}

	@keyframes minimalist-sidebar-fade-out {
		from {
			width: 30%;
		}
		to {
			width: var(--sidebar-width);
		}
	}
}
