@use '@carbon/react/scss/spacing' as *;
@use '../../mixins/text-mixins' as *;

.minimalist-sidebar {
	@include text();
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
	// defined in layouts.scss to make it global
	// this helps ensure animations are smoother
	width: var(--sidebar-width);

	h1 {
		font-size: 0.9em;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: $spacing-06;
		height: 50%;

		& > * {
			width: 100%;
		}

		.nav-label {
			@include label();
		}
	}

	.setting-links {
		display: flex;
		height: 10%;
		align-items: center;
		justify-content: center;
	}
}

// header moves to top of page - change to row direction
@media (max-width: 1056px) {
	.minimalist-sidebar {
		flex-direction: row;
	}

	.minimalist-sidebar-active {
		.labelled-icon-btn,
		.labelled-icon-btn > span {
			transition: width 0.2s ease-in;
			animation: fadeIn 1.2s;
		}
	}

	.minimalist-sidebar-inactive {
		.icon-btn {
			transition: width 0.2s ease-out;
			animation: fadeIn 0.8s;
		}
	}

	.nav-links,
	.setting-links {
		display: none;
	}
}

/* toggling the sidebar-heading shifts the layout around - but only for larger screens */
@media (min-width: 1056px) {
	.minimalist-sidebar-active {
		animation: minimalist-sidebar-fade-in 0.8s ease-out forwards;

		// move from a center to left alignment to take advantage of all the space
		align-items: flex-start;
		padding-left: $spacing-08;
		padding-right: $spacing-08;

		.top-section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			// full width top section keeps the logo left and button right (aligned)
			// the +2% makes this section stand out with different negative spacing
			width: 102%;
		}

		.labelled-icon-btn,
		.labelled-icon-btn > span {
			transition: width 0.2s ease-out;
			animation: fadeIn 1.2s;
		}
	}

	.minimalist-sidebar-inactive {
		animation: minimalist-sidebar-fade-out 0.8s ease-out forwards;

		.icon-btn {
			transition: width 0.2s ease-out;
			animation: fadeIn 1.2s;
		}
	}

	@keyframes minimalist-sidebar-fade-in {
		from {
			width: var(--sidebar-width);
		}
		to {
			width: 18%;
		}
	}

	@keyframes minimalist-sidebar-fade-out {
		from {
			width: 18%;
		}
		to {
			width: var(--sidebar-width);
		}
	}
}
