@use '@carbon/react/scss/spacing' as *;
@use '../../mixins//text-mixins' as *;
@use '../../mixins//card-shadow' as *;
@use '../../mixins//glass-background' as *;
@use '../../mixins//alignment' as *;

.minimal-carousel {
    display: flex;
    flex-direction: column;
    gap: $spacing-06;

    .minimal-carousel__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // remove the padding in this usage
        .title-bar {
            padding: 0;
        }

        .nav-buttons {
            display: flex;
            gap: $spacing-05;
        }
    }

    .minimal-carousel__divider {
        border-top: 1px solid var(--background-neutral);
    }

    .minimal-carousel__items {
        display: flex;
        gap: $spacing-08;
        overflow-y: hidden;
        overflow-x: scroll;

        // 	.carousel-item {
        // }
    }
}
