@use '@carbon/react/scss/spacing' as *;

.minimalist-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: var(--lynx-white);
	background-color: var(--nero-black);
}

.minimalist-sidebar h1 {
	font-size: 0.9em;
}

.nav-links {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 50%;
}

.nav-links-active > button,
.setting-links-active > button {
	width: 100%;
}

.nav-links-active {
	align-items: center;
	width: 30%;
}

.nav-label {
	font-size: 0.8em;
}

.setting-links {
	display: flex;
	height: 10%;
	align-items: center;
	justify-content: center;
}

// header moves to top of page - change to row direction
@media (max-width: 1056px) {
	.minimalist-sidebar {
		flex-direction: row;
	}

	.nav-links,
	.setting-links {
		display: none;
	}
}

/* toggling the sidebar-heading shifts the layout around - but only for larger screens */
@media (min-width: 1056px) {
	.minimalist-sidebar-active {
		animation: minimalist-sidebar-fade-in 1s ease forwards;
	}

	.minimalist-sidebar-inactive {
		animation: minimalist-sidebar-fade-out 1s ease forwards;
	}

	@keyframes minimalist-sidebar-fade-in {
		from {
			width: var(--sidebar-width);
		}
		to {
			width: 30%;
		}
	}

	@keyframes minimalist-sidebar-fade-out {
		from {
			width: 30%;
		}
		to {
			width: var(--sidebar-width);
		}
	}
}
