@use '@carbon/react/scss/spacing' as *;

.two-pane-recipe-card {
	display: flex;
	justify-content: center;
	column-gap: $spacing-06;

	.two-pane-recipe-card--left {
		border-radius: 12px 0 0 12px;

		.recipe-card__data {
			border-radius: 0 0 0 12px;
			overflow-x: hidden;
		}

		.image-content,
		.image-content--alt {
			border-radius: 12px 0 0 0;
		}
	}

	.two-pane-recipe-card--right {
		border-radius: 0 12px 12px 0;

		.recipe-card__data {
			border-radius: 0 12px 0 0;
			overflow-x: hidden;
		}

		.action-container {
			border-radius: 0 0 12px 0;
		}
	}
}
