@use '@carbon/react/scss/spacing' as *;

.two-pane-recipe-card {
	display: flex;
	justify-content: center;
	column-gap: $spacing-06;

	.two-pane-recipe-card--left,
	.two-pane-recipe-card--right {
		border-radius: 12px;
		padding-bottom: $spacing-04;

		.recipe-card__data {
			overflow-x: hidden;
		}
	}

	.two-pane-recipe-card--left {
		.recipe-card__data {
			border-radius: 0 0 12px 12px;
		}

		.image-content,
		.image-content--alt {
			border-radius: 12px 12px 0 0;
		}
	}

	.two-pane-recipe-card--right {
		.action-container {
			border-radius: 0 0 12px 12px;
		}
	}
}

// these pages have a lot of content, use all the space available
@media (max-width: 1056px) or (max-width: 1180px) {
	.two-pane-recipe-card {
		// stack the left and right cards to make it scrollable
		flex-wrap: wrap;
		justify-content: unset;
		row-gap: $spacing-08;
		column-gap: $spacing-03;

		// left card is a scrollable list of ingredients
		.two-pane-recipe-card--left {
			min-width: 25%;
			width: 25%;
		}
	}
}
