@use '../../config/breakpoints' as breakpoints;

/* all pages follow this layout */

body {
	margin: 0;
	padding: 0;
	// full height pages
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	--sidebar-width: 100px;
	background-color: var(--background--neutral, black);
	color: var(--text, white);

	::-webkit-scrollbar {
		display: none;
	}

	// the react-app root
	#root {
		// main instead of body, as main is where our content lives
		main {
			padding-left: var(--sidebar-width);
		}

		header {
			// header as sidebar
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
		}

		.theming-gradient-1 {
			z-index: var(--layers-background);
			position: absolute;
			height: 100vh;
			top: -10%;
		}

		.theming-gradient-2 {
			z-index: var(--layers-background);
			position: absolute;
			height: 100vh;
			top: 10%;
			left: 60%;
		}

		// TODO: fix
		.theming-gradient-1,
		.theming-gradient-2 {
			display: none;
		}
	}
}

// header moves to top of page
@media (max-width: breakpoints.$small) {
	body {
		#root {
			header {
				position: relative;
				bottom: auto;
				left: auto;
				top: auto;
				width: 100%;
			}

			main {
				padding-left: 0;
			}
		}
	}
}

/* toggling the sidebar-heading shifts the layout around - but only for larger screens */
@media (min-width: breakpoints.$small) {
	.header-active {
		animation: header-fade-in var(--sequence-fast) ease forwards;
	}

	.header-inactive {
		animation: header-fade-out var(--sequence-fast) ease forwards;
	}
}
