/* all pages follow this layout */
html,
body {
	--sidebar-width: 300px;

	margin: 0;
	padding: 0;
	// full height pages
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

// main instead of body, as main is where our content lives
main {
	padding-left: var(--sidebar-width);
}

header {
	// header as sidebar
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

// header moves to top of page
@media (max-width: 1056px) {
	header {
		position: relative;
		bottom: auto;
		left: auto;
		top: auto;
		width: 100%;
	}

	main {
		padding-left: 0;
	}
}

/* toggling the sidebar-heading shifts the layout around - but only for larger screens */
@media (min-width: 1056px) {
	.header-active {
		animation: header-fade-in 1s ease forwards;
	}

	.header-inactive {
		animation: header-fade-out 1s ease forwards;
	}

	@keyframes header-fade-in {
		from {
			padding-left: var(--sidebar-width);
		}
		to {
			padding-left: 30%;
		}
	}

	@keyframes header-fade-out {
		from {
			padding-left: 30%;
		}
		to {
			padding-left: var(--sidebar-width);
		}
	}
}

body {
	background-color: var(--background--neutral, black);
	color: var(--text, white);
}

.theming-gradient-1,
.theming-gradient-2 {
	z-index: -1;
	position: absolute;
}

.theming-gradient-1 {
	top: -10%;
}

.theming-gradient-2 {
	top: 10%;
	left: 60%;
}

/* recipe content has a special grid */
@import 'recipe-content-grid.scss';
