@use '@carbon/react/scss/spacing' as *;
@use '../../mixins/text-mixins' as *;

.simple-card {
    --card-height: max-content;
    padding: $spacing-06;
    width: 100%;
}

.simple-card > div.content-slot > div {
    display: flex;
    flex-direction: column;
    @include text();
}

.action-option {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: $spacing-03;
    padding: $spacing-06;
    background-color: var(--background);
    border-radius: 4px;

    label {
        position: absolute;
        top: $spacing-03;
        @include label();
    }

    span {
        @include action-text();
    }
}

.content-slot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: $spacing-08;
}
