.cds--multi-select.cds--list-box,
.cds--multi-select__wrapper {
	border-radius: 12px;

	#downshift-1-label {
		display: none;
	}

	#multiselect-field-label-2 {
		padding: 0;
	}
}

.cds--multi-select.cds--list-box {
	border: 1px solid transparent;
}

.cds--multi-select__wrapper,
.cds--multi-select.cds--list-box,
.cds--list-box {
	background-color: var(--background-details);
	border: none;
}

.cds--list-box__menu {
	border-radius: 12px;
	border: 1px transparent;
}

.cds--list-box__menu,
.cds--list-box__menu:focus,
.cds--list-box__menu-item,
.cds--list-box__menu-item__option {
	background-color: var(--foreground-details);
	border: 1px transparent;
	outline: transparent;
}

.cds--list-box__menu-item__option {
	background-color: transparent;
}

.cds--list-box__menu-item:hover {
	background-color: var(--primary-action);
}
