@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/glass-background' as *;

.action-container {
	position: sticky;
	top: $spacing-04;
	margin: $spacing-04;
	display: flex;
	z-index: var(--layers-foreground);

	.action-container__card {
		@include glass-background();
		@include card-shadow-3();
		height: 130px;
		padding: $spacing-05;
		min-width: 100%;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.filters,
		.actions {
			flex: 1;
			display: flex;
			gap: $spacing-02;
		}
	}
}
