@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/text-mixins' as *;
@use './overrides';

.form-input * {
	width: 100%;
	border: none;
	@include form-input();
}

.form-input > ::placeholder {
	opacity: 1;
}

.form-input > :focus::placeholder {
	opacity: 0;
	transition: opacity 0.4s ease-out;
}

.form-input > input[type='text'],
.form-input > input[type='number'],
.form-input > select .select-items,
.form-input > option,
.form-input > textarea {
	background-color: var(--background-details);
	border: 1px solid transparent;
	border-radius: 12px;
}

.form-input > input:focus-visible,
.form-input > textarea:focus-visible {
	outline: none;
	border: 1px solid var(--primary-action);
	transition: border 0.4s ease-out;
	border-radius: 12px;
	@include card-shadow-3();
}

.form-input > input[type='text'].text-input,
.form-input > textarea.long-text-input {
	color: var(--text);
}

.form-input > textarea {
	resize: vertical;
}

.form-input > input[type='checkbox'] {
	margin: $spacing-04;
	width: unset;
}

.form-input > input::-webkit-outer-spin-button,
.form-input > input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form-input > input:disabled {
	background-color: var(--input-background-disabled);
}
