@use '@carbon/react/scss/spacing' as *;

.multi-line-input {
	display: flex;
	flex-direction: column;
	row-gap: 1em;

	.multi-line-input__add {
		display: flex;
		column-gap: 2em;
		justify-content: space-between;
		align-items: center;

		.e-full-width-new-item {
			width: 100%;
		}

		.new-item {
			width: 200px;
		}
	}
}
