@use '@carbon/react/scss/spacing' as *;

.multi-line-input {
	display: flex;
	flex-direction: column;
	row-gap: $spacing-05;

	.multi-line-input__add {
		display: flex;
		column-gap: $spacing-08;
		justify-content: space-between;
		align-items: flex-end;
	}
}
