@use '@carbon/react/scss/spacing' as *;
@use './overrides';
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/text-mixins' as *;

@mixin disabled-btn() {
    cursor: default;
    box-shadow: unset;
    background-color: var(--background);
    opacity: 0.6;
    border: 1px solid var(--background);
}

.btn {
    border: 1px solid var(--mealui-colors-gray900);
    color: var(--text);
    border-radius: 4px;
    @include card-shadow-3();

    &:disabled:hover,
    &:disabled:active,
    &:disabled {
        @include disabled-btn();
    }
}

.icon-btn {
    @include label();

    svg {
        font-size: 1rem;
    }

    &:hover,
    &:active {
        @include label-hover-or-active();

        svg {
            color: var(--mealui-colors-purple700);
        }
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:active {
        @include disabled-btn();
    }
}

.nav-btn {
    @include action-text();
    font-size: 1.8em;
    font-weight: bold;
    border: none;

    &:hover,
    &:active {
        background-color: var(--background-details);
    }

    &:disabled {
        @include disabled-btn();
        border: none !important;
    }
}

.labelled-icon-btn {
    @include label();
    gap: $spacing-06;

    svg {
        font-size: 1rem;
    }

    &:disabled:hover,
    &:disabled:active {
        @include disabled-btn();
    }

    &:hover,
    &:active {
        @include label-hover-or-active();

        svg {
            color: var(--mealui-colors-purple700);
            transition: color var(--sequence-fast) ease-out;
        }
    }
}
