// avoid using this directly on elements that contain text! It will mess with readability
// instead create a fake element for the background within a common parent container
@mixin glass-background() {
    background-color: var(--background-details);
    // saturation and contrast make the colors pop for a nice vibrant effect
    // the blur creates the glass effect
    // brightness needs to be dropped for readability
    backdrop-filter: saturate(140%) contrast(130%) blur(32px) brightness(30%);
    // implement the "background"
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
