.card {
    background-color: var(--dark-cyan);
    border: 2px solid black;
    border-radius: 12px;

    padding: var(--ns-half);
    margin: var(--ns-half);
}

.card > .title-bar {
    display: flex;
    width: 100%;
    padding-left: var(--ns-half);
    margin: var(--ns-half) 0 var(--ns-half) 0;
}

.card .title-bar > h2.title {
    width: 100%;

    height: 60px;
    font-size: 1.5em;
    color: white;
}

.card > div.content-slot {
    /* 100px is the title-bar (60) + padding top and bottom (20px) */
    height: calc(100% - 100px);
    display: flex;
}

.card > div.content-slot > div {
    flex: 1;
    align-self: center;
    
    display: flex;
    justify-content: center;
    
    color: white;
}