.card {
    --card-height: 420px;
    height: var(--card-height);

    max-width: 800px;

    display: flex;
    flex-direction: column;

    background-color: var(--dove-grey);
    border: 0;
    border-radius: 0 0 12px 12px;

    /* to get a clean box shadow edge, layer box shadows and decrease the alpha sharply */
    /* great article on box shadows https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */
    box-shadow: 
              0 1px 1px rgba(0, 0, 0, .05),
              0 2px 2px rgba(0, 0, 0, .10),
              0 4px 4px rgba(0, 0, 0, .15),
              0 8px 8px rgba(0, 0, 0, .20),
              0 16px 16px rgba(0, 0, 0, .25);
}

.card > .title-bar {
    display: flex;
    background-color: var(--nero-black);
    padding: var(--ns-half) 0 var(--ns-half) var(--ns-full);
}

.card .title-bar > h2.title {
    font-size: 1.8em;
    letter-spacing: 3px;
    color: white;
}

.card > div.content-slot > div {
    display: flex;
    justify-content: center;
}