.card {
    --card-height: 420px;
    height: var(--card-height);

    background-color: var(--dove-grey);
    border: 0;
    border-radius: 12px;

    /* to get a clean box shadow edge, layer box shadows and decrease the alpha sharply */
    box-shadow: 
              0 1px 1px rgba(0, 0, 0, .05),
              0 2px 2px rgba(0, 0, 0, .10),
              0 4px 4px rgba(0, 0, 0, .15),
              0 8px 8px rgba(0, 0, 0, .20),
              0 16px 16px rgba(0, 0, 0, .25);
    
    padding: var(--ns-half);
}

.card > .title-bar {
    display: flex;
    width: 100%;
    padding: var(--ns-half) 0 var(--ns-half) var(--ns-full);
}

.card .title-bar > h2.title {
    width: 100%;

    height: .1 * var(--card-height);
    font-size: 1.8em;
    letter-spacing: 3px;
    color: white;
}

.card > div.content-slot {
    /* remaining space = title-bar (10% of total height + 2* 1/2 padding) + the remaining card padding (2 * 1/2 padding)*/
    height: calc(100% - (.1 * var(--card-height) + var(--ns-full) + var(--ns-full)));
    display: flex;
}

.card > div.content-slot > div {
    flex: 1;
    align-self: center;
    
    display: flex;
    justify-content: center;
    
    color: white;
}