footer.hero-footer {
    display: flex;
    flex-direction: row-reverse;
    /* padding: var(--ns-half); */
    color: var(--lynx-white);
    background-color: var(--nero-black);
    padding: var(--ns-quat);
    padding-right: var(--ns-half);
}

footer.hero-footer > .footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}