.hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: var(--ns-quat);
    cursor: pointer;
    height: 40px; /* maintain a clickable area */
}

.hamburger div {
    height: 2px;
    width: 30px;
    background-color: var(--lynx-white);
    transition: all .3s ease;
}

.hamburger-toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 9px);
}

.hamburger-toggle .line2 {
    opacity: 0;
}

.hamburger-toggle .line3 {
    transform: rotate(45deg) translate(-8px, -9px);
}
