
.minimalist-sidebar {
    display: flex;
    flex-direction: column;

    color: var(--lynx-white);
    background-color: var(--nero-black);
    width: 140px;

    padding: var(--ns-full) var(--ns-half) var(--ns-full) var(--ns-half);
    margin-right: var(--ns-half);
}

.sidebar-toggle-btn {
    margin: 5px;
    color: var(--lynx-white);
    font-size: 1.7em;
}