.minimalist-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
    color: var(--lynx-white);
    background-color: var(--nero-black);
    padding: var(--ns-full) var(--ns-half) var(--ns-half) var(--ns-half);
}

.minimalist-sidebar-active {
    animation: minimalist-sidebar-fade-in 1s ease forwards;
}

.minimalist-sidebar-inactive {
    animation: minimalist-sidebar-fade-out 1s ease forwards;
}

@keyframes minimalist-sidebar-fade-in {
    from { width: 10%; } to { width: 15%; }
}

@keyframes minimalist-sidebar-fade-out {
    from { width: 15%; } to { width: 10%; }
}

.minimalist-sidebar h1 {
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.setting-links {
    display: flex;
    height: 10%;
    align-items: stretch;
    justify-content: center;
}
