.p-home-view {
    display: flex;
    background-color: var(--lynx-white);
}

.hero-title {
    /* left alignment = card-title padding + card padding + outer margin */
    padding-left: calc(var(--ns-full) + var(--ns-half) + var(--ns-full));

    font-size: 3em;
    letter-spacing: 10px;
    font-weight: 390;
    color: var(--nero-black);
}

.hero-grid {
    width: 100%;
    display: grid;
    
    padding-bottom: var(--ns-full);
    grid-template-rows: [hero-header] max-content [plan-row] 1fr [explore-row] 1fr [end];
}

.hero-header {
    grid-row: hero-header / hero-header;
    
    padding: var(--ns-full) 0 var(--ns-full) 0;
    height: 140px;
    display: flex;
}

.planning-quick-view {
    grid-row: plan-row / plan-row;
    margin: var(--ns-full);
}

.explore-quick-view {
    grid-row: explore-row / explore-row;
    margin: var(--ns-full);
}
