.p-home-view {
    display: flex;
    background-color: var(--lynx-white);
    height: 100vh;
}

.hero-grid {
    width: 100%;
    display: grid;
    
    padding-bottom: var(--ns-full);
    grid-template-rows: [hero-header] max-content [plan-row] 1fr [explore-row] 1fr [end];
    grid-template-columns: [margin-start] 10% [content-start] 80% [content-end] 10% [margin-end];
}

.hero-grid > * {
    margin-top: var(--ns-half);
}

.hero-header {
    grid-row: hero-header / hero-header;
    grid-column: content-start / content-end;
    display: flex;
}

.hero-title {
    font-size: 3em;
    letter-spacing: 10px;
    font-weight: 390;
    color: var(--nero-black);
}

.planning-quick-view {
    grid-row: plan-row / plan-row;
    grid-column: content-start / content-end;
}

.explore-quick-view {
    grid-row: explore-row / explore-row;
    grid-column: content-start / content-end;
}
