.p-home-view {
    display: flex;
    background-color: var(--lynx-white);

    /* stop gap to help viz while building */
    height: 100vh;
}

.hero-title {
    margin: 0 60px 0 60px;

    font-size: xxx-large;
    font-weight: semi-bold;
    color: var(--nero-black);
}

.hero-grid {
    width: 100%;
    display: grid;
    
    padding-bottom: var(--ns-full);
    grid-template-rows: [hero-header] max-content [plan-row] 1fr [explore-row] 1fr [end];
}

.hero-header {
    grid-row: hero-header / hero-header;
    
    padding-top: 20px;
    height: 90px;
    display: flex;
}

.planning-quick-view {
    grid-row: plan-row / plan-row;
}

.explore-quick-view {
    grid-row: explore-row / explore-row;
}
