.icon-btn.cds--btn--ghost:hover,
.icon-btn.cds--btn--ghost:active {
	color: unset;
	background-color: unset;
}

.icon-btn.cds--btn--ghost {
	border: unset;
}

.icon-btn.cds--btn--ghost:focus {
	border-color: unset;
	box-shadow: unset;
}

.icon-btn.cds--btn--primary {
	color: var(--primary-action);
	background-color: transparent;
}
