.cds--btn--primary.btn {
	background-color: transparent;
	border: 1px solid var(--primary);
}

.cds--btn--primary.btn:hover,
.cds--btn--primary.btn:active,
.cds--btn--primary.btn:focus {
	border: 1px solid transparent;
	background-color: var(--primary);
}

.icon-btn.cds--btn--ghost:hover,
.icon-btn.cds--btn--ghost:active {
	color: unset;
	background-color: unset;
}

.icon-btn.cds--btn--ghost {
	border: unset;
}

.icon-btn.cds--btn--ghost:focus {
	border-color: unset;
	box-shadow: unset;
}
