@use '@carbon/react/scss/spacing' as *;
@use './overrides';
@use '../../../mixins/card-shadow' as *;

.btn {
	border: 1px solid var(--mealui-colors-gray900);
	border-radius: 4px;
	color: var(--text);
	@include card-shadow-2();
}

.btn:hover,
.btn:active,
.btn:focus {
	@include card-shadow-2('light');
	color: var(--background);
}

.icon-btn {
	color: var(--text);
	font-size: 1.4em;
}

.icon-btn:hover,
.icon-btn:active {
	color: var(--background);
	opacity: 0.8;
}

.labelled-icon-btn {
	gap: $spacing-06;
}

.icon-btn:disabled,
.icon-btn:disabled:hover,
.icon-btn:disabled:active,
.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled {
	cursor: default;
	box-shadow: unset;
	background-color: var(--background);
	opacity: 0.6;
	border: 1px solid var(--background);
}
