@use '@carbon/react/scss/spacing' as *;
@use './overrides';

.btn {
	border: 1px solid var(--mealui-colors-gray900);
	border-radius: 4px;
	color: var(--text);
}

.btn:hover,
.btn:active {
	box-shadow: 0 1px 2px var(--mealui-colors-gray900);
	color: var(--background);
	opacity: 0.8;
}

.icon-btn {
	color: var(--text);
	font-size: 1.4em;
}

.icon-btn:hover,
.icon-btn:active {
	color: var(--background);
	opacity: 0.8;
}

.labelled-icon-btn {
	gap: $spacing-06;
}
