@use '@carbon/react/scss/spacing' as *;
@use './overrides';
@use '../../../mixins/card-shadow' as *;
@use '../../../mixins/text-mixins' as *;

.btn {
	border: 1px solid var(--mealui-colors-gray900);
	border-radius: 4px;
	color: var(--text);
	@include card-shadow-2();
}

.btn:hover,
.btn:active,
.btn:focus {
	@include card-shadow-2('light');
	color: var(--background);
}

.icon-btn {
	@include label();

	svg {
		font-size: 1rem;
	}
}

.icon-btn:hover,
.icon-btn:active {
	@include label-hover-or-active();

	svg {
		color: var(--mealui-colors-purple700);
	}
}

.labelled-icon-btn {
	@include label();
	gap: $spacing-06;

	svg {
		font-size: 1rem;
	}
}

.labelled-icon-btn:hover,
.labelled-icon-btn:active {
	background-color: var(--mealui-colors-lynx-white);
	@include label-hover-or-active();
	transition: all var(--sequence-fast) ease-in;
	transition-property: color, opacity;

	svg {
		color: var(--mealui-colors-purple700);
		transition: color var(--sequence-fast) ease-in;
	}
}

.icon-btn:disabled,
.icon-btn:disabled:hover,
.icon-btn:disabled:active,
.labelled-icon-btn:disabled:hover,
.labelled-icon-btn:disabled:active,
.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled {
	cursor: default;
	box-shadow: unset;
	background-color: var(--background);
	opacity: 0.6;
	border: 1px solid var(--background);
}
