@use '@carbon/react/scss/spacing' as *;
@use '../../../mixins/text-mixins' as *;

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: $spacing-06;
    min-height: 20%;
    width: 40%;

    & > * {
        width: 100%;
    }
}
