.p-recipe-view {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: var(--ns-full);
    overflow-y: scroll !important;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
