@use '@carbon/react/scss/spacing' as *;

.hero-branding-logo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	padding-left: $spacing-04;
	padding-right: $spacing-04;
	height: 100px;

	.divider {
		width: 70%;
		border: 1px solid var(--mealui-colors-gray900);
	}
}

.hero-branding-logo:hover,
.hero-branding-logo:active {
	opacity: 0.8;

	.divider {
		opacity: 0.8;
	}
}

.hero-title {
	font-size: 1.2em;
	letter-spacing: $spacing-06;
	padding-left: $spacing-06;
	color: var(--text);
	text-transform: uppercase;
}
