@use '@carbon/react/scss/spacing' as *;
@use '../../mixins/text-mixins' as *;

.hero-branding-logo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: $spacing-02;
	height: 60px;

	.divider {
		width: 80%;
		border: 1px solid var(--mealui-colors-gray900);
	}

	.hero-title {
		@include logo-title();
		display: flex;
		justify-content: space-between;
		column-gap: $spacing-05;
	}

	button {
		display: flex;
		justify-content: space-evenly;
	}

	&:hover,
	&:active {
		opacity: 0.8;
	}
}
