@use '@carbon/react/scss/spacing' as *;

.tiled-badges {
    display: flex;
    flex-direction: column;
    gap: $spacing-02;

    .tiled-badges__row {
        display: flex;
        gap: $spacing-02;
    }
}
