// support the glass background with the backdrop filter options
@keyframes fade-in {
    0% {
        opacity: 0;
        backdrop-filter: saturate(100%) contrast(100%) blur(32px)
            brightness(60%) opacity(0);
    }
    100% {
        backdrop-filter: saturate(100%) contrast(100%) blur(32px)
            brightness(60%) opacity(1);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        backdrop-filter: saturate(100%) contrast(100%) blur(32px)
            brightness(60%) opacity(1);
    }
    100% {
        opacity: 0;
        backdrop-filter: saturate(100%) contrast(100%) blur(32px)
            brightness(60%) opacity(0);
    }
}
