@use '@carbon/react/scss/spacing' as *;
@use './text-mixins' as *;

@mixin page-title-block() {
	margin-top: $spacing-08;
	margin-left: $spacing-08;

	& > h2 {
		@include page-heading();
		display: flex;
		flex-direction: column;

		label {
			@include label();
		}
	}
}
