@use '@carbon/react/scss/spacing' as *;

@mixin text-header {
	font-size: 1.8em;
	letter-spacing: 3px;
	color: var(--text);
}

@mixin text {
	letter-spacing: 3px;
	color: var(--text);
}

@mixin label {
	@include text();
	opacity: 0.6;
}

@mixin subscript-label {
	@include text();
	opacity: 0.8;
}

@mixin thick-text {
	@include text();
	font-weight: 800;
}

@mixin action-text {
	@include text();
	margin-top: $spacing-04;
	margin-bottom: $spacing-04;
}

@mixin wrappable-text {
	white-space: break-spaces;
	overflow-wrap: anywhere;
	margin: $spacing-04;
}

@mixin form-input {
	color: var(--text);
	font-weight: 500;
	padding: $spacing-04;
}

@mixin form-validation-error {
	@include form-input();
	font-size: 0.8rem;
}

@mixin warning-text {
	@include text();
	color: var(--warning);
}
