/* the base colour kit, minimalist and simple */
.meal-ui-theme {
	--cultured: #f8f9faff;
	--dove-grey: #6b6b6b;
	--black-russian: #20232a;
	--dark-cyan: #282c34;
	--angel-number-black: #121212;
	--lindworm-green: #9feb73;

	--success: #04d137ff;
	--error: #ba0000ff;
	--warning: rgb(254, 148, 19);
	--note: hsla(210, 39%, 47%, 1);

	--mealui-colors-purple700: #9750dd;
	--mealui-colors-blue100: #102c4c;
	--mealui-colors-blue600: #0072f5;
	--mealui-colors-nero-black: #1a1a1a;
	--mealui-colors-lynx-white: #f7f7f7;
	--mealui-colors-gray900: #ecedee;

	--primary: var(--mealui-colors-purple700);
	--secondary: var(--meal-ui-colors-blue100);
	--primary-action: var(--mealui-colors-purple700);
	--secondary-action: var(--mealui-colors-blue600);
	--foreground: var(--mealui-colors-lynx-white);
	--background: var(--mealui-colors-nero-black);
	--text: var(--mealui-colors-gray900);
}
