/* the base colour kit, minimalist and simple */
body {
	--cultured: #f8f9faff;
	--dove-grey: #6b6b6b;

	--success: #04d137ff;
	--error: #ba0000ff;
	--warning: rgb(254, 148, 19);
	--note: hsla(210, 39%, 47%, 1);

	--mealui-colors-purple700: #9750dd;
	--mealui-colors-blue100: #102c4c;
	--mealui-colors-blue600: #0072f5;
	--mealui-colours-angel-number-black: #121212;
	--mealui-colors-nero-black: #1a1a1a;
	--mealui-colors-black-russian: #20232a;
	--mealui-colors-dark-cyan: #282c34;
	--mealui-colors-lynx-white: #f7f7f7;
	--mealui-colors-lindworm-green: #9feb73;
	--mealui-colors-gray900: #ecedee;
	--mealui-colors-success: #04d137ff;
	--mealui-colors-error: #ba0000ff;
	--mealui-colors-error-background: rgba(186, 0, 0, 0.08);
	--mealui-colors-warning: rgb(254, 148, 19);
	--mealui-colors-note: hsla(210, 39%, 47%, 1);

	--primary: var(--mealui-colors-purple700);
	--secondary: var(--meal-ui-colors-blue100);
	--primary-action: var(--mealui-colors-purple700);
	--secondary-action: var(--mealui-colors-blue600);
	--foreground: var(--mealui-colors-lynx-white);
	--background: var(--mealui-colours-angel-number-black);
	--background-neutral: var(--mealui-colors-nero-black);
	--input-background-disabled: var(--mealui-colors-nero-black);
	--text-disabled: var(--dove-grey);
	--background-details: rgba(255, 255, 255, 0.05);
	--foreground-details: var(--mealui-colors-black-russian);
	--text: var(--mealui-colors-gray900);
	--success: var(--mealui-colors-success);
	--error: var(--mealui-colors-error);
	--warning: var(--mealui-colors-warning);
	--note: var(--mealui-colors-note);
}
