/** 
 * Add global Z-Index Levels here
 * this defines layers from -1 to 99
 */

body {
	--layers-background: -1;
	--layers-midground: 2;
	--layers-foreground: 3;
	--layers-sidebar: 98;
	--layers-overlay: 99;
}
